.welcome-message{
  font-size:2.5em;
  background-color: hsl(120, 92%, 46%);
  color:white;
  padding:10px;
  border-radius: 15px;
}

.login-prompt{
  font-size:2.5em;
  background-color: hsl(90, 12%, 76%);
  color:white;
  padding:10px;
  border-radius: 15px;
}